header {
    height: 100px;
    text-align: center;
}

button {
    float: right;
}

main {
    height: auto;
    display: flex;
    text-align: center;
}

.right-panel,
.left-panel {
    width: 100px;
}

.right-panel {
    float: right;
}

.left-panel {
    float: left;
}

.center {}

footer {
    text-align: center;

}